In [1]:
pip install pandas sqlalchemy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.0.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (2.0.30)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy) (3.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [21]:
import pandas as pd

In [12]:
from sqlalchemy import create_engine

In [24]:
#E

  #def extract(file_path):
  #   """Extract from CSV"""
db = pd.read_csv("https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv")
  #return
db

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09
...,...,...,...,...,...,...,...,...,...,...
4995,5f084245-58cb-4360-8cff-112f06f7214e,Mitra,Latupono,27 Apr 2000,"Jl. Monginsidi No. 5\nCirebon, BB 50268",+62 (050) 795-8398,Hongaria,Institut Teknologi Sepuluh Nopember,Business Intelligence Engineer,1.617634e+09
4996,fc6e142a-3f66-4330-9975-8c1dc7f9bb03,Indah,Rahmawati,06 Mar 1996,"Gang Joyoboyo No. 73\nBogor, BT 57434",+62 (0443) 963 0055,Norwegia,CV Safitri Hastuti Tbk,Data Engineer,1.617634e+09
4997,4521ff9f-4aec-401b-84aa-a4e6fc6549a4,Irsad,Najmudin,14 Feb 2003,"Jalan PHH. Mustofa No. 0\nTanjungbalai, MU 95312",+62 (0408) 216-7689,Ghana,Universitas Katolik Widya Manadala,Fullstack Engineer,1.617634e+09
4998,1c91596e-427c-44a7-b7d0-974f44e18381,Carla,Nasyidah,22 Aug 1994,"Jl. H.J Maemunah No. 955\nManado, Kepulauan Ba...",+62 (0751) 380 3352,Gambia,CV Permadi (Persero) Tbk,Fullstack Engineer,1.617634e+09
4999,5d682e84-bcb5-43e9-8ce0-615364f5376a,Darmana,Maryadi,09 Feb 2002,"Jalan Erlangga No. 76\nBontang, Sulawesi Tengg...",+62 (066) 414 8791,Singapura,Perum Laksita Kuswandari,DevOps Engineer,1.617634e+09

In [25]:
#T

In [42]:
def transform(db):
    """Transform"""
    # Example transformation: filter rows where a specific column has a certain value
    db = db[db['Citra'] == 'Sitra']

    # Another example: rename columns
    db = db.rename(columns={'last_name': 'surname'})

    # Add more transformations as needed
    return db

In [43]:
db

,participant_id,first_name,last_name,birth_date,address,phone_number,country,institute,occupation,register_time
0,bd9b6f88-b84f-4c4d-90f8-b67fe2f1a29a,Citra,Nurdiyanti,05 Feb 1991,"Gg. Monginsidi No. 08\nMedan, Aceh 80734",(0151) 081 2706,Georgia,UD Prakasa Mandasari,Business Intelligence Engineer,1.617634e+09
1,7dfe3391-6f40-47b6-b4db-0c76ebaf5fc3,Aris,Setiawan,11 Jan 1993,"Gg. Rajawali Timur No. 7\nPrabumulih, MA 09434",+62 (036) 461 7027,Korea Utara,Universitas Diponegoro,Frontend Engineer,1.617634e+09
2,19582d7f-b824-4fe5-a517-d5bf573fc768,Cornelia,Handayani,31 Jul 1993,"Jalan Kebonjati No. 0\nAmbon, SS 57739",089 833 6695,Komoro,UD Hardiansyah Puspasari,Business Analyst,1.617634e+09
3,aeb6d817-25f3-4867-8a74-8d92e0a0f633,Soleh,Rajasa,04 Nov 1991,"Jl. Yos Sudarso No. 109\nLubuklinggau, SR 76156",+62 (418) 329-4756,Eritrea,Perum Tampubolon Yuliarti,DevOps Engineer,1.617634e+09
4,1fdabdd9-5444-4c97-87b2-fe8833ad0d27,Vivi,Astuti,22 Jan 2003,"Jalan Gardujati No. 53\nKediri, Sulawesi Tenga...",0812511835,Aljazair,PT Hardiansyah Rahimah,Data Analyst,1.617634e+09
...,...,...,...,...,...,...,...,...,...,...
4995,5f084245-58cb-4360-8cff-112f06f7214e,Mitra,Latupono,27 Apr 2000,"Jl. Monginsidi No. 5\nCirebon, BB 50268",+62 (050) 795-8398,Hongaria,Institut Teknologi Sepuluh Nopember,Business Intelligence Engineer,1.617634e+09
4996,fc6e142a-3f66-4330-9975-8c1dc7f9bb03,Indah,Rahmawati,06 Mar 1996,"Gang Joyoboyo No. 73\nBogor, BT 57434",+62 (0443) 963 0055,Norwegia,CV Safitri Hastuti Tbk,Data Engineer,1.617634e+09
4997,4521ff9f-4aec-401b-84aa-a4e6fc6549a4,Irsad,Najmudin,14 Feb 2003,"Jalan PHH. Mustofa No. 0\nTanjungbalai, MU 95312",+62 (0408) 216-7689,Ghana,Universitas Katolik Widya Manadala,Fullstack Engineer,1.617634e+09
4998,1c91596e-427c-44a7-b7d0-974f44e18381,Carla,Nasyidah,22 Aug 1994,"Jl. H.J Maemunah No. 955\nManado, Kepulauan Ba...",+62 (0751) 380 3352,Gambia,CV Permadi (Persero) Tbk,Fullstack Engineer,1.617634e+09
4999,5d682e84-bcb5-43e9-8ce0-615364f5376a,Darmana,Maryadi,09 Feb 2002,"Jalan Erlangga No. 76\nBontang, Sulawesi Tengg...",+62 (066) 414 8791,Singapura,Perum Laksita Kuswandari,DevOps Engineer,1.617634e+09

In [44]:
#L

In [46]:
def load(db, database_url = "https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv", table_name = 'participants.csv'):
    """data into SQL db."""
    engine = create_engine(url="https://storage.googleapis.com/dqlab-dataset/dqthon-participants.csv")
    db.to_sql(table_name, engine, if_exists='replace', index=False)

In [47]:
# ETL Funkti

In [48]:
def etl(file_path, database_url, table_name):
    """ETL process: """
    # Extract
    df = extract(file_path)
    # Transform
    db = transform(db)
    # Load
    load(db, database_url, table_name)

In [49]:
#exmpl

In [50]:
if __name__ == "__main__":
    file_path = 'path/to/your/source_file.csv'
    database_url = 'sqlite:///your_database.db'  # Example for SQLite; adjust for other DBMS
    table_name = 'your_table_name'

    etl(file_path, database_url, table_name)

FileNotFoundError: [Errno 2] No such file or directory: 'path/to/your/source_file.csv'

In [ ]:
copyright etl = GePeTo 3,5